<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google News WebApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Google News WebApp</h1>
    <div class="flexbox-container">
        <div class="grid" id=0></div>
        <div class="grid" id=1></div>
        <div class="grid" id=2></div>
        <div class="grid" id=3></div>
        <div class="grid" id=4></div>
        <div class="grid" id=5></div>
        <div class="grid" id=6></div>
        <div class="grid" id=7></div>
        <div class="grid" id=8></div>
        <div class="grid" id=9></div>
        <div class="grid" id=10></div>
        <div class="grid" id=11></div>
        <div class="grid" id=12></div>
        <div class="grid" id=13></div>
        <div class="grid" id=14></div>
        <div class="grid" id=15></div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </div>
 <footer>Made by m1m3 for Fedora GCI Task. Powered by News API!</footer>
</body>
</html>